//Variables
$badge__bg--gray: #ababab;
$badge__border--gray: #757575;
$text--black: #020102;


.badge{
  display: inline-block;
  border: 1px solid $badge__border--gray;
  border-radius: 10px;
  background: $badge__bg--gray;
  color: inherit;
  font-size: 0.85rem;
  min-width: 20px;
  padding: 2px;
  white-space: nowrap;
  vertical-align: middle;

  &:empty{
    display: none;
  }

  &:focus{
    outline: 0;
  }

  &:hover, &:focus {
    cursor: pointer;
  }
}

.badge--square{
  @extend .badge;
  border-radius: 2px;

}

a .badge{
  padding-bottom: 4px;
}

button .badge{
  font-size: 0.8rem;
}
