.carousel-preview input[type="radio"] {
  display: none;
}

.carousel-preview {
  font-size: 1.4rem;
  height: 50rem;
  width: 80rem;
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  top: 3rem;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

/* carousel item */
.carousel-preview .carousel-preview__item {
  width: 100%;
  line-height: 1.5;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.carousel-preview__item img {
  width: 80rem;
  height: 40rem;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-preview__item span {
  position: absolute;
  top: 20%;
  font-size: 2rem;
  right: 20%;
}

.carousel-preview__bullet:checked + .carousel-preview__item {
  visibility: visible;
  opacity: 1;
}

.carousel-preview__item {
  visibility: visible;
  opacity: 0;
  transition: .5s ease-out opacity, .5s ease-out visibility;
}

/* carousel navigation */
.carousel-preview__nav {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 15px;
  height: 15px;
  z-index: 88;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.carousel-preview__nav::before {
  font-size: 1.25rem;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;

}

.carousel-preview__nav:hover::before {
  color: rgba(255, 255, 255, 1);
}

.carousel-preview__nav-previous {
  left: 10px;
}

.carousel-preview__nav-next {
  left: 96%;
}

.carousel-preview__bullet {
  font-size: .75rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  z-index: 5;
  top: 75%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1em;
  -webkit-transition: background ease-out 0.3s, transform 0.3s ease-out;
  -moz-transition: background ease-out 0.3s, transform 0.3s ease-out;
  transition: background ease-out 0.3s, transform 0.3s ease-out;
}

.carousel-preview .carousel-preview__bullet:nth-of-type(1):checked + .carousel-preview__item + label:nth-of-type(1),
.carousel-preview .carousel-preview__bullet:nth-of-type(2):checked + .carousel-preview__item + label:nth-of-type(2),
.carousel-preview .carousel-preview__bullet:nth-of-type(3):checked + .carousel-preview__item + label:nth-of-type(3),
.carousel-preview .carousel-preview__bullet:nth-of-type(4):checked + .carousel-preview__item + label:nth-of-type(4) {
  background: #FFFFFF;
  outline: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.carousel-preview .carousel-caption {
  top: 2rem;
  height: 8rem;
  color: #fff;
  padding-bottom: 2rem;
  position: absolute;
  right: 15%;
  text-align: center;
  z-index: 1;
}

.carousel-preview .carousel-caption h3 {
  margin: 0;
}

.carousel-preview .carousel-caption p {
  margin-top: 0;
  font-size: 1rem;
}

.carousel-preview .carousel-preview__item + label:nth-of-type(1):hover .thumb-img,
.carousel-preview .carousel-preview__item + label:nth-of-type(2):hover .thumb-img,
.carousel-preview .carousel-preview__item + label:nth-of-type(3):hover .thumb-img,
.carousel-preview .carousel-preview__item + label:nth-of-type(4):hover .thumb-img {
  visibility: visible;
  opacity: 1;
}

.carousel-preview .carousel-preview__bullet .thumb-img {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

/* rule for preview image */
.carousel-preview .carousel-preview__bullet .thumb-img img {
  height: 80px;
  width: 100px;
  left: -4.5rem;
  top: -8.5rem;
  position: absolute;
  background-size: cover;
}

