.card-container{
  left: 50%;
  margin-left:-225px;
  font-weight: 400;
  font-size: 1em;
  
}
.card-container, figure{
  width:416px;
  height: 270px;
}

.card-container{

  position:absolute;
  margin-top:-135px;
  position: absolute;
  margin-top: -135px;
  top:50%;
  height: 500px;
}

.card{
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

figure{
  background: #2e5d5a;
  color: #fff;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

figure.card-front{
  z-index: 2;
}

figure.card-back,
  .card.flipped{
  transform: rotateY(180deg);
}

.card-front img{
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 1;
}

.card-front .card-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  font-size: 1.25em;

}

.card-front .card-caption:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  transform: translate3d(0,50%,0);
  transition: opacity 0.35s, transform 0.35s;
}

.card-front:hover .card-caption:before{
  opacity: 1;
  transform: translate3d(0,0,0);
}

.card-front h2{
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,-50%,0);
}

.card-front h2 span {
  font-weight: bold;
  color:white;
}

.card-front h2:after{
  position: absolute;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-130%,0,0);
}

.card-front:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.card-front p {
  letter-spacing: 1px;
  font-size: 78.5%;
  position: absolute;
  bottom: 70px;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}


.card-front:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}


