.herotron {
	padding: 3rem;
	margin: 0;
	background: #dedede;
}

.herotron .herotron-heading{
	font-size: 70px;
	margin: 0 0 .5em;
	font-variant: small-caps;
}

.herotron .herotron-content {
	font-size: 2.6rem;
	font-weight: 200;
	margin: 0 0 .5em;
	line-height: 1.5;
}