/* Icon */


.icon-item--h-style{
   background-color: #4285f4;
  height: 50px;
  padding: 10px 15px;
  
}

.icon-item--v-style {
   background-color: #4285f4;
   height: 50px;
   padding: 10px 12px;
}

.icon--vertical {
   display: flex;
  flex-direction: column;
    width: 50px;
}


.icon--horizontal {
   display: flex;
  flex-direction: row;
  
}


.icon-item__icon{
  color: #fff; 
  font-size: 24px;
  
}

.icon-item:hover {
  background-color: #1aa3ff;
  cursor: pointer; 
}

.icon-item--round {
   margin-right: 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
  background-color: #4285f4;
}

.icon-item--diamond {
   transform: rotate(-45deg);
    height: 45px;
   padding: 10px;
   background-color: #4285f4;
   transform: rotate(-45deg);
    margin: 0 10px; 
}

.icon-item__icon--rotate {
  transform: rotate(45deg);
}