.innovative-button-container{
  position: relative;
  top: 150px;
}
.button-lights-shadow {
  width: 400px;
  height: 350px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
  background: #d4d5d6;
  background: linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  background: -webkit-linear-gradient(top, #d4d5d6 0%, #d2d3d4 22%, #c8c9ca 68%, #c8c9ca 100%);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
}

.button-lights-shadow:before {
  content: "";
  background: radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(254,254,254,0) 50%, rgba(254,254,254,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(254,254,254,1) 0%, rgba(254,254,254,0) 50%, rgba(254,254,254,0) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  width: 600px;
  height: 600px;
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -300px;
  opacity: 0.8;
}

.iamoff label, .oh label {
  width: 90px;
  height: 30px;
  display: inline-block;
  margin-top: 100px;
  position: relative;
  border-radius: 14px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  line-height: 30px;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  font-weight: bold;
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom,
  color-stop(0.5, transparent),
		to(rgba(255, 255, 255, 0.3))); 
}
.iamoff label{
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  cursor: pointer;
  background: rgb(138,138,138);
  background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
  background: linear-gradient(top,  
 rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}



.oh label{
  background: rgb(244,180,4);
  background: linear-gradient(top,  
 rgba(244,180,4,1) 0%, rgba(251,190,22,1) 14%, rgba(252,197,47,1) 72%, rgba(252,204,72,1) 100%);
  background: -webkit-linear-gradient(top, rgba(244,180,4,1) 0%, rgba(251,190,22,1) 34%, rgba(252,197,47,1) 52%, rgba(252,204,72,1) 100%);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}


#buttonOff:checked ~ #iamoff:hover:before  {
  content: "on";
  font-size: 14px
}

#buttonOh:checked ~ #oh:hover:before  {
  content: "!";
  font-size: 14px
}


#iamoff i {
  position: absolute;
  top: -4px;
  right:60px;
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 36px;
  background: rgb(255,255,255);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
  transition: all 200ms ease;
}
 #oh i {
   position: absolute;
   top: -4px;
   left:60px;
   width: 36px;
   height: 36px;
   display: block;
   border-radius: 36px;
   background: rgb(255,255,255);
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
   background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
   box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
   transition: all 200ms ease;
}

#iamoff i:before, #oh i:before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 18px;
  background: rgb(239,239,239);
  background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%); 
	
  background: linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
#iamoff:hover i, #oh:hover i {
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
}
#iamoff:active i:before, #oh:active i:before {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

#iamoff:before {
  content: "off";
  margin-left: 30px;
  text-transform: uppercase;
  transition: all 200ms ease;
}


#oh:before {
  content: "!";
  margin-right: 30px;
  font-style: bold;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

#iamoff:after {
  content: "dont't turn me";
  right: 85px;
  width: 150px;

  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 1px rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
}
#oh:after {
  content: "";
  left: 80px;
  width: 150px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 1px rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
}

#buttonOff:checked ~ #iamoff:before {
  content: "on";
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 0;
}


#buttonOh:checked ~ #oh:before {
  content: "off";
  text-transform: uppercase;
  margin-left: 0px;
  margin-right: 30px;
}

#buttonOh:checked ~ #oh:after {
  content: "click me!";
  left: -130px;
}

#buttonOff:checked ~ #iamoff:after {
  content: "to bed";
  right: -130px;
}


#buttonOff:checked ~ #iamoff{
  background: rgb(141,173,51);
  background: radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
}

#buttonOh:checked ~ #oh{
  background: rgb(138,138,138);
  background: radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(166,194,78,1) 100%);
}

#buttonOff:checked ~ #iamoff i {
  right: -6px;
}

#buttonOh:checked ~ #oh i {
  right: -6px;
}
#buttonOff{
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: 10px;
  opacity: .1;
  transition: all 0.3s ease-out; 
} 

#buttonOh {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: 10px;
  opacity: .1;
  transition: all 0.3s ease-out; 
} 
#buttonOff:hover {
  opacity: 1;
}

#buttonOh:hover {
  opacity: 1;
}