/* Modal */

input[class^="modal"] {
  display: none;
}


.modal{
  position: relative;
  margin: 40px 10px;
}



#link-modal:checked ~ .link-modal,
#link-modal:checked ~ .modal-bg,
#image-modal:checked ~ .image-modal,
#image-modal:checked ~ .modal-bg,
#video-modal:checked ~ .video-modal,
#video-modal:checked ~ .modal-bg{
  display: block;
}

.modal__close {
  position: relative;
  left: calc(98% - 10px);
  margin: 20px 0;
  color: #8c8c8c;
  font-size: 24px;
  cursor: pointer;
}


.modal-button {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 20px 0;
  background-color: #008cba;
}


.image-modal, .video-modal{
  position: fixed;
  top: 20%;
  left: 30%;
  width: 33%;
  padding: 10px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  background-color: #fff;
  border-radius: 1%;
} 


/* Link Modal */

.link-modal {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 32%;
  padding: 20px;
  display: none;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 1%;
} 

.modal-link--cursor {
  cursor: pointer;
  color: blue;
}

.modal-bg {
   width: 100%;
   height: 100%;
    background-color: #b3b3b3;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 10;
   display: none;
}

/* Image Modal */


.image-modal__img{
  width: 90%;
  margin: 0 10px;
  border: 1px solid #000;
  display: block;
}


/* Video Modal */



.video-modal__video{
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 315px;
}

