.navbar-wrap {
  margin: 100px 0;
}

input[id^="toggle"]{
  display: none;
}

.navbar {
  display: flex;
    flex-direction: row;
  justify-content: flex-start; 
  width: 90%;
  height: 30px;
  background-color: #4286f4;
  padding: 10px;
}


.navbar--left {
  display: flex;
    flex-direction: row;
  justify-content: flex-start; 

}

.navbar--right {
  display: flex;
    flex-direction: row;
  justify-content: flex-end; 

}

.navbar__title{
  margin-left: 20px;
  color: #fff;
}

.navbar-list-sublist {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 160px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px; 
   position: relative;
  top: 10px;
  left: 70%;
  color: #8c8c8c;
  display: none;
}

.navbar-list__item {
  color: #fff;
}

.navbar-list__item, .navbar-list-sublist__item {
  padding: 15px;
   
}


.navbar-list--right{
  position: relative;
  top: 0;
 left: 65%;
}


.navbar-list-sublist__item:hover {
  background-color: #4286f4;
  color: #fff;
}

.navbar-list__item:hover , .navbar-list__item-icon:hover {
  color: blue;
}


.navbar__search {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  position: relative;
  top: 0;
  left: 45%;
  background-color: #4286f4;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}


#toggle-dropdown1:checked + .navbar-list-sublist,
#toggle-dropdown2:checked + .navbar-list-sublist {
  display: flex;
}

.navbar-list__item-icon {
  color: #fff;
  margin: 0 10px 0 5px;
}
