/* Nav Bar */

.navbar {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: #4286f4;
  padding-top: 6px; }

.navbar--left {
  justify-content: flex-start; }

.navbar--right {
  justify-content: flex-end; }

.navbar__title {
  margin-left: 20px;
  color: #fff; }


    .navbar-list{
    width: 500px;
  }

.navbar-list-sublist {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 170px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  top: 10px;
  left: 70%;
  color: #8c8c8c;
  display: none; 
  z-index: 5p;
  }



.navbar-list__item {
  color: #fff; }

.navbar-list__item, .navbar-list-sublist__item {
  padding: 15px; }


.navbar__title--size {
  flex-grow: 3;
}

.navbar-list-sublist__item:hover {
  background-color: #4286f4;
  color: #fff; }

.navbar-list__item:hover, .navbar-list__item-icon:hover {
  color: blue; }

.navbar__search {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  background-color: #4286f4;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff; 
  }

.search-wrap{
  flex-grow: 3;
  padding-left: 388px;
}

#toggle-dropdown1:checked + .navbar-list-sublist,
#toggle-dropdown2:checked + .navbar-list-sublist {
  display: flex; }

.navbar-list__item-icon {
  color: #fff;
  margin: 0 10px 0 5px; }
