.scrollspy{
  display: flex;

  &__topNav{
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background: white;
    
    & a{
      text-decoration: none;
      color: blue;
    }
    ul{
      margin: 10px 0 30px;
      li{
        padding: 5px 20px;
        display: inline-block;
        transition: all 0.5s;
        
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &__page-content{
    width: 960px;
    margin: 0 auto;
    padding-top: 2rem;

    div{
      padding-bottom: 5rem;
      border: 1px solid black;
    }
  }
}