/*------------- TAB -----------------*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


//colors

$tab-container-bg-color: #eee;
$tab-container-color: #555; 
$tab-section-border-color: #ddd;
$tab-label-color: #bbb;
$tab-background-color: #fff;
$tab-label-hover-color: #888;
$tab-input-checked-color: #555;
$tab-input-checked-border-color: #ddd;
$tab-input-checked-border-bottom-color: #0EBFE9;
$tab-input-checked-border-top-color: #fff;
$tab-btn-bg-color: #0EBFE9;
$tab-btn-color: #fff;
$tab-btn-border-color: #72bcd4;


.tab-container{
  font: 14px/1  'Open Sans', sans-serif;
  color: $tab-container-color;
  background: $tab-container-bg-color;
}

.tab-h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

.tab-desc {
  margin: 0 0 20px;
  line-height: 1.5;
}

.tab {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: $tab-background-color;
}

section.tab-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid $tab-section-border-color;
}

.tab-input {
  display: none;
}

.tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: $tab-label-color;
  border: 1px solid transparent;
}

.tab label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab label[for*='1']:before { content: '\f14c'; }
.tab label[for*='2']:before { content: '\f2a3'; }
.tab label[for*='3']:before { content: '\f3ab'; }
.tab label[for*='4']:before { content: '\f3ac'; }

.tab label:hover {
  color: $tab-label-hover-color;
  cursor: pointer;
}

.tab-input:checked + label {
  color: $tab-input-checked-color;
  border: 1px solid $tab-input-checked-border-color;
  border-top: 1px solid $tab-input-checked-border-top-color;
  border-bottom: 2px solid $tab-input-checked-border-bottom-color;
}

#tab-tab1:checked ~ #tab-content1,
#tab-tab2:checked ~ #tab-content2,
#tab-tab3:checked ~ #tab-content3,
#tab-tab4:checked ~ #tab-content4 {
  display: block;
}

.tab-img{
  float:left;
  margin-right:50px;
  margin-top:10px;

}
.tab-btn-read-more {
  margin-left: 0px;
	background: $tab-btn-bg-color;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 24px;
  height: 35px;
  width: 100px;
	text-transform: uppercase;
  border: 3px solid $tab-btn-border-color;
}
.tab-btn-read-more a{
  color: $tab-btn-color;
}