
@import 'components/_variables.scss';
@import 'layout/_grid.scss';
@import 'base/_base.scss';


//Place elements below
@import 'components/_badge.scss';
@import 'components/_variables.scss';
@import 'components/_accordion.scss';
@import 'components/_buttons.scss';
@import 'components/_carousel_caption.scss';
@import 'components/_carousel_thumb.scss';
@import 'components/_chips.scss';
@import 'components/_shopping_cart.scss';
@import 'components/_list-group.scss';
@import 'components/_tab.scss';
@import 'components/_card.scss';
@import 'components/_breadcrumb.scss';
@import 'components/_pagination_simple.scss';
@import 'components/_pagination_moving.scss';
@import 'components/_switches.scss';
