/* code goes here */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100);
.grid {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
  text-align: center; }

.grid__row {
  display: flex; }

[class*="grid_col"] {
  float: left;
  background-color: gray;
  opacity: 0.7;
  border: 2px solid black;
  margin: 0px 5px 0px 5px; }

.grid__col1 {
  width: 8.333%; }

.grid__col2 {
  width: 16.666%; }

.grid__col3 {
  width: 24.999%; }

.grid__col4 {
  width: 33.332%; }

.grid__col5 {
  width: 41.665%; }

.grid__col6 {
  width: 49.998%; }

.grid__col7 {
  width: 58.331%; }

.grid__col8 {
  width: 66.664%; }

.grid__col9 {
  width: 74.997%; }

.grid__col10 {
  width: 83.33%; }

.grid__col11 {
  width: 91.663%; }

.grid__col12 {
  width: 99.996%; }

* {
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background-color: #ffe5ff; }

a {
  text-decoration: none; }

section {
  position: relative; }

h3 {
  padding: 0.75rem; }

.badge-example {
  font-size: 2rem; }

.breadcrumb-example {
  width: 80%;
  margin: 0 auto; }

.dropdown-example {
  margin: 1rem auto 10rem;
  display: flex;
  flex-wrap: wrap;
  width: 50%; }
  .dropdown-example .dropdown {
    margin: 0 auto; }

.list-group-example {
  max-width: 50%;
  margin: 0 auto; }
  .list-group-example .list-group .list-group-item, .list-group-example .list-group .list-group-item--success, .list-group-example .list-group .list-group-item--info, .list-group-example .list-group .list-group-item--warning, .list-group-example .list-group .list-group-item--danger {
    padding-bottom: 2rem; }
    .list-group-example .list-group .list-group-item img, .list-group-example .list-group .list-group-item--success img, .list-group-example .list-group .list-group-item--info img, .list-group-example .list-group .list-group-item--warning img, .list-group-example .list-group .list-group-item--danger img {
      float: left;
      margin-right: 1rem; }

.badge, .badge--square {
  display: inline-block;
  position: relative;
  top: -2px;
  border: 1px solid #757575;
  border-radius: 10px;
  background: #ababab;
  color: inherit;
  font-size: 0.9rem;
  min-width: 25px;
  padding: 2px 3px;
  white-space: nowrap;
  vertical-align: middle; }
  .badge:empty, .badge--square:empty {
    display: none; }
  .badge:focus, .badge--square:focus {
    outline: 0; }
  .badge:hover, .badge--square:hover, .badge:focus, .badge--square:focus {
    cursor: pointer; }

.badge--square {
  border-radius: 2px; }

a .badge, a .badge--square {
  padding: 4px; }

button .badge, button .badge--square {
  font-size: 0.9rem; }

/* code goes here */
/* Container */
.accordion {
  color: #2c3e50;
  background: #ecf0f1;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); }

.accordion h1 {
  text-align: center; }

.half {
  float: left;
  width: 50%;
  padding: 0 1em; }

.accordion-panel {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden; }

/* Content */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: #fa9b92;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s; }

.accordion-content p {
  margin: 1em; }

.blue .accordion-content {
  background: #3498db; }

.blue .accordion-content {
  background: #3498db; }

/* Input */
.accordion-input {
  display: none; }

/* :checked */
.accordion-input:checked ~ .accordion-content {
  max-height: 10em; }

.accordion-input[type=checkbox]:checked + .accordion-toggle::after {
  transform: rotate(315deg); }

accordion-input[type=radio]:checked + .accordion-toggle::after {
  transform: rotateX(180deg); }

/* Icon */
.blue label::after, .red label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s; }

.accordion-input[type=checkbox] + .accordion-toggle::after {
  content: "+"; }

.accordion-input[type=radio] + .accordion-toggle::after {
  content: "\25BC"; }

/* Label */
.blue label, .red label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer; }

.blue label {
  background: #2980b9; }

.red label {
  background: #f7594a; }

.blue .accordion-content {
  background: #3498db; }

/* Toggle */
.accordion-toggle {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  margin: 0px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  font: inherit;
  line-height: inherit;
  text-align: left; }

.accordion-toggle + * {
  border-bottom: 1px solid #e5e5e5; }

.accordion-toggle:hover {
  background: #385670; }

/* ---------- Define Color----------
- primary-color: #4285F4;
- primary-color-hover: #5A95F5;

- default-color: #2BBBAD;
- default-color-hover: #2EC8B9

- secondary-color: #aa66cc;
- secondary-color-hover #B579D2;

- success-color: #00C851;
- success-color-hover :#00D255;

- info-color: #33b5e5;
- info-color-hover: #49BDE8;

- warning-color: #eb9316;
- warning-color-hover: #FF961F;

- danger-color: #c12e2a;
- danger-color-hover: #DB0000;

- elegant-color: #2E2E2E;
- elegant-color-hover: #3B3B3B;

- unique-color: #1C2331
- unique-color-hover: #252f41

- pink-color: #e91e63;
- pink-color-hover: #EB3573;

- purple-color: #4a148c;
- purple-color-hover: #5617A2;

- deep-purple-color: #311b92;
- deep-purple-color-hover: #381FA8;

- indigo-color: #1a237e;
- indigo-color-hover: #1E2993;

- cyan-color: #00acc1;
- cyan-hover-color: #00C2DA;

- light-green-color: #7cb342;
- light-green-hover-color: #85BA4B;

- lime-color: #afb42b;
- lime-hover-color: #C0C52F;

- yellow-color: #fbc02d;
- yellow-hover-color: #FBC846;

- amber-color: #ff6f00;
- amber-hover-color: #FF7D1A;

- orange-color: #e65100;
- orange-hover-color: #FF5A01;

- deep-orange-color: #bf360c;
- deep-orange-hover-color: #D73D0E;

- brown-color: #6d4c41;
- brown-hover-color: #7D574B;

- blue-grey-color: #607d8b;
- blue-grey-hover-color: #6B8A99;

- dark-green-color: #007E33;
- dark-green-hover-color: #008C38;

- fb-color: #3B5998;
- fb-hover-color: #4264AA;

- twitter-color : #55ACEE;
- twitter-hover-color: #6CB7F0;

- gplus-color: #DD4B39;
- gplus-hover-color : #E15F4F;

- li-color: #0082CA;
- li-hover-color : #0092E4;

 */
.section-button {
  text-align: center;
  margin-top: 5rem; }

.btn {
  font-size: 1.4rem;
  border: 0 none;
  border-radius: 2px;
  padding: 1.2rem 2.4rem;
  margin: 6px;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s; }

/* ------------- Basic color --------------- */
.btn-primary {
  background-color: #4285f4; }

.btn-primary:hover {
  background-color: #5A95F5;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-default {
  background-color: #2BBBAD; }

.btn-default:hover {
  background-color: #2EC8B9;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-secondary {
  background-color: #aa66cc; }

.btn-secondary:hover {
  background-color: #B579D2;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-success {
  background-color: #00C851; }

.btn-success:hover {
  background-color: #00D255;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-info {
  background-color: #33b5e5; }

.btn-info:hover {
  background-color: #49BDE8;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-warning {
  background-color: #eb9316; }

.btn-warning:hover {
  background-color: #FF961F;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-danger {
  background-color: #c12e2a; }

.btn-danger:hover {
  background-color: #DB0000;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

/* ----------------- Additional buttons ---------- */
.btn-elegant {
  background-color: #2E2E2E; }

.btn-elegant:hover {
  background-color: #3B3B3B;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-unique {
  background-color: #1C2331; }

.btn-unique:hover {
  background-color: #252f41;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-pink {
  background-color: #e91e63; }

.btn-pink:hover {
  background-color: #EB3573;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-purple {
  background-color: #4a148c; }

.btn-purple:hover {
  background-color: #5617A2;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-deep-purple {
  background-color: #311b92; }

.btn-deep-purple:hover {
  background-color: #381FA8;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-indigo {
  background-color: #1a237e; }

.btn-indigo:hover {
  background-color: #1E2993;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-cyan {
  background-color: #00acc1; }

.btn-cyan:hover {
  background-color: #00C2DA;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-light-green {
  background-color: #7cb342; }

.btn-light-green:hover {
  background-color: #85BA4B;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-lime {
  background-color: #afb42b; }

.btn-lime:hover {
  background-color: #C0C52F;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-yellow {
  background-color: #fbc02d; }

.btn-yellow:hover {
  background-color: #FBC846;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-amber {
  background-color: #ff6f00; }

.btn-amber:hover {
  background-color: #FF7D1A;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-orange {
  background-color: #e65100; }

.btn-orange:hover {
  background-color: #FF5A01;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-deep-orange {
  background-color: #bf360c; }

.btn-deep-orange:hover {
  background-color: #D73D0E;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-brown {
  background-color: #6d4c41; }

.btn-brown:hover {
  background-color: #7D574B;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-blue-grey {
  background-color: #607d8b; }

.btn-blue-grey:hover {
  background-color: #6B8A99;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-dark-green {
  background-color: #007E33; }

.btn-dark-green:hover {
  background-color: #008C38;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

/* ------------Social buttons----------------------*/
.social-icon::before {
  padding-right: 0.5rem;
  font-size: 1.5rem; }

.btn-fb {
  background-color: #3B5998; }

.btn-fb:hover {
  background-color: #4264AA;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-tw {
  background-color: #55ACEE; }

.btn-tw:hover {
  background-color: #6CB7F0;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-gplus {
  background-color: #DD4B39; }

.btn-gplus:hover {
  background-color: #E15F4F;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-li {
  background-color: #0082CA; }

.btn-li:hover {
  background-color: #0092E4;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

/* ---------------- shaping ----------------------*/
.btn-rounded {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em; }

.btn-lg {
  font-size: 1.5rem;
  padding: 1.5rem 3rem; }

.btn-md {
  font-size: 1rem;
  padding: 1rem 2.4rem; }

.btn-sm {
  font-size: 0.6rem;
  padding: 0.5rem 1.6rem; }

/* -----------------------------------------------*/
.waves-effect {
  -moz-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.waves-effect__span {
  position: absolute;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.5;
  -webkit-transition: transform 4s ease-out 0s, opacity 4s ease-out 0s;
  -moz-transition: transform 4s ease-out 0s, opacity 4s ease-out 0s;
  transition: transform 4s ease-out 0s, opacity 4s ease-out 0s;
  pointer-events: none; }

.waves-effect--show {
  opacity: 0;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  transform: scale(10); }

.carousel input[type=radio] {
  display: none; }

.carousel {
  font-size: 1.4rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  width: 80rem;
  top: 3rem;
  margin-left: auto;
  margin-right: auto; }

/* carousel item */
.carousel .carousel--item {
  width: 100%;
  line-height: 1.5;
  position: absolute;
  top: 0;
  visibility: hidden; }

.carousel--item img {
  width: 80rem;
  height: 40rem;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel--item span {
  position: absolute;
  top: 20%;
  font-size: 2rem;
  right: 20%; }

.carousel--bullet:checked + .carousel--item {
  visibility: visible;
  opacity: 1; }

.carousel--item {
  visibility: visible;
  opacity: 0;
  transition: .5s ease-out opacity, .5s ease-out visibility; }

/* carousel navigation */
.carousel--nav {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 15px;
  height: 15px;
  z-index: 88;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.carousel--nav::before {
  font-size: 1.25rem;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none; }

.carousel--nav:hover::before {
  color: white; }

.carousel--nav-previous {
  left: 10px; }

.carousel--nav-next {
  left: 96%; }

.carousel--bullet {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  z-index: 5;
  top: 75%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1em;
  -webkit-transition: background ease-out 0.3s, transform 0.3s ease-out;
  -moz-transition: background ease-out 0.3s, transform 0.3s ease-out;
  transition: background ease-out 0.3s, transform 0.3s ease-out; }

.carousel--bullet:nth-of-type(1):checked + .carousel--item + label:nth-of-type(1),
.carousel--bullet:nth-of-type(2):checked + .carousel--item + label:nth-of-type(2),
.carousel--bullet:nth-of-type(3):checked + .carousel--item + label:nth-of-type(3),
.carousel--bullet:nth-of-type(4):checked + .carousel--item + label:nth-of-type(4) {
  background: #FFFFFF;
  outline: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2); }

.carousel-caption {
  bottom: 2rem;
  color: #fff;
  left: 15%;
  padding-bottom: 2rem;
  position: absolute;
  right: 15%;
  text-align: center;
  z-index: 1; }

.carousel-caption h3 {
  margin: 0; }

.carousel-caption p {
  margin-top: 0;
  font-size: 1rem; }

.slide-wrapper input[type=radio] {
  display: none; }

.slide-wrapper {
  position: relative;
  width: 80rem;
  height: 52rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden; }

.slide-wrapper__images {
  width: 420rem;
  height: 40rem;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s; }

.slide-wrapper__images {
  background-size: cover; }

.slide-wrapper__image-item {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 40rem;
  width: 80rem; }

.bullet:nth-of-type(1):checked ~ .slide-wrapper__images {
  left: 0px; }

.bullet:nth-of-type(2):checked ~ .slide-wrapper__images {
  left: -80rem; }

.bullet:nth-of-type(3):checked ~ .slide-wrapper__images {
  left: -160rem; }

.bullet:nth-of-type(4):checked ~ .slide-wrapper__images {
  left: -240rem; }

.bullet:nth-of-type(5):checked ~ .slide-wrapper__images {
  left: -320rem; }

.slide-wrapper__indicators {
  position: absolute;
  top: 80%;
  left: 11%; }

.slide-wrapper__indicators-item {
  width: 1rem;
  height: 1rem;
  display: inline;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0.5;
  -webkit-transition: opacity ease-out 0.5s;
  -moz-transition: opacity ease-out 0.3s;
  transition: opacity ease-out 0.5s; }

.bullet:nth-of-type(1):checked ~ .slide-wrapper__indicators > label:nth-of-type(1),
.bullet:nth-of-type(2):checked ~ .slide-wrapper__indicators label:nth-of-type(2),
.bullet:nth-of-type(3):checked ~ .slide-wrapper__indicators label:nth-of-type(3),
.bullet:nth-of-type(4):checked ~ .slide-wrapper__indicators label:nth-of-type(4),
.bullet:nth-of-type(5):checked ~ .slide-wrapper__indicators label:nth-of-type(5) {
  outline: none;
  opacity: 1; }

.chip-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
  text-align: center; }

.chip-wrapper__chip {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  height: 3.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 1.2rem;
  line-height: 3.5rem;
  border-radius: 25px;
  background-color: #ECEFF1;
  margin-bottom: 2rem;
  margin-right: 2rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.chip-wrapper__chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.chip-wrapper__chip--close {
  cursor: pointer;
  font-size: 16px;
  padding-left: 8px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s; }

.chip-wrapper__chip--close:hover {
  opacity: 0.5; }

/*********** shopping cart ***********/
.cart-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  background: #FFFFFF;
  box-sizing: border-box; }

.cart-wrapper__image {
  margin-right: 2.5rem; }

.cart-wrapper__image img {
  max-height: 150px;
  min-width: 50px; }

.cart-wrapper__description {
  width: 15rem; }

.cart-wrapper__description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400; }

.cart-wrapper__description h5 {
  font-size: 2rem;
  margin: 0; }

.cart-wrapper__description p {
  font-size: 1.2rem; }

.cart-wrapper__color {
  margin-right: 0;
  width: 6rem; }

.cart-wrapper__quantity {
  margin-right: 4rem; }

.cart-wrapper__quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300; }

.cart-wrapper__plus-btn, .cart-wrapper__minus-btn {
  width: 3rem;
  height: 3rem;
  background-color: #4285f4;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s; }

.cart-wrapper__plus-btn:hover, .cart-wrapper__minus-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.cart-wrapper__minus-btn img {
  margin-bottom: 3px; }

.cart-wrapper__plus-btn img {
  margin-top: 2px; }

.cart-wrapper__total-price {
  float: right;
  font-weight: bold;
  font-size: 1.5rem;
  color: #43484D; }

.cart-wrapper__item-price {
  width: 8.3rem;
  font-size: 1.6rem;
  color: #43484D;
  font-weight: 300; }

.cart-wrapper button:focus, .cart-wrapper input:focus {
  outline: 0; }

.cart-wrapper__sep {
  border-top: 1px solid #e6e7e8;
  width: 100%; }

.cart-wrapper .checkout {
  padding-left: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex; }

.cart-wrapper .promo-input {
  border: 1px solid #e6e7e8;
  display: block;
  font-size: 1.3rem;
  padding: 0.6rem;
  -webkit-transition: border 0.5s ease-out, color 0.5s ease-out;
  -moz-transition: border 0.5s, color 0.5s ease-out;
  transition: border 0.5s, color 0.5s ease-out; }

.cart-wrapper .promo-input:focus {
  border: 1px solid #5A95F5;
  color: #5A95F5; }

.cart-wrapper .apply-promo-btn {
  background-color: #5A95F5;
  border: 0;
  border-radius: 2px;
  color: #fff;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s; }

.cart-wrapper .apply-promo-btn:hover {
  background-color: #5A95F5;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.cart-wrapper table {
  max-width: 100%;
  width: 100%; }

.cart-wrapper__cart th {
  font-size: 1.5rem; }

.cart-wrapper__cart td, .cart-wrapper__cart th {
  border-top: 1px solid #eceeef;
  padding-top: 2rem;
  padding-left: 1rem;
  text-align: left; }

.cart-wrapper .btn span {
  padding: 0.5rem;
  font-size: 1.6rem; }

.cart-wrapper__cart .btn-sm {
  padding: 2px 8px;
  width: 4rem; }

/*--------- Tooltip ---------*/
.cart-wrapper [data-tooltip] {
  position: relative;
  cursor: pointer; }

.cart-wrapper [data-tooltip]:before,
.cart-wrapper [data-tooltip]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-transform: none; }

/* Position tooltip above the element */
.cart-wrapper [data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 7px;
  width: 8rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  z-index: 2; }

/* Triangle hack to make tooltip look like a speech bubble */
.cart-wrapper [data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0; }

/* Show tooltip content on hover */
.cart-wrapper [data-tooltip]:hover:before,
.cart-wrapper [data-tooltip]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: lowercase;
  text-transform: capitalize; }

/*********** shopping cart ***********/
#modal-cart--toggle {
  display: none; }

.modal-cart-wrapper {
  position: relative;
  font-size: 1.2rem;
  width: 90%;
  height: 60rem;
  margin: 0 auto;
  font-size: 1.6rem;
  background: #FFFFFF;
  box-sizing: border-box;
  -webkit-transform: translateY(-50rem);
  -moz-transform: translateY(-50rem);
  transform: translateY(-50rem);
  -webkit-transition: transform 0.85s ease-out;
  transition: transform 0.85s ease-out; }

.modal-cart-wrapper_btn {
  font-size: 1.2rem;
  border: 0 none;
  border-radius: 2px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #4285f4;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  width: 18rem; }

.modal-cart-wrapper_btn:hover {
  background-color: #5A95F5;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.modal-cart-wrapper_btn--close {
  font-size: 1.2rem;
  border: 0 none;
  border-radius: 2px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #33b5e5;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  width: 10rem; }

.modal-cart-wrapper_btn--close:hover {
  background-color: #49BDE8;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.modal-cart-wrapper__image {
  margin-right: 2.5rem; }

.modal-cart-wrapper__image img {
  max-height: 150px;
  min-width: 50px; }

.modal-cart-wrapper__description {
  width: 15rem; }

.modal-cart-wrapper__description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400; }

.modal-cart-wrapper__description h5 {
  font-size: 2rem;
  margin: 0; }

.modal-cart-wrapper__description p {
  font-size: 1.2rem; }

.modal-cart-wrapper__color {
  margin-right: 0;
  width: 6rem; }

.modal-cart-wrapper__quantity {
  margin-right: 4rem; }

.modal-cart-wrapper__quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300; }

.modal-cart-wrapper__plus-btn, .modal-cart-wrapper__minus-btn {
  width: 3rem;
  height: 3rem;
  background-color: #4285f4;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s; }

.modal-cart-wrapper__plus-btn:hover, .modal-cart-wrapper__minus-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.modal-cart-wrapper__minus-btn img {
  margin-bottom: 3px; }

.modal-cart-wrapper__plus-btn img {
  margin-top: 2px; }

.modal-cart-wrapper__total-price {
  float: right;
  font-weight: bold;
  font-size: 1.5rem;
  color: #43484D; }

.modal-cart-wrapper__item-price {
  width: 8.3rem;
  font-size: 1.6rem;
  color: #43484D;
  font-weight: 300; }

.modal-cart-wrapper button:focus, .modal-cart-wrapper input:focus {
  outline: 0; }

.modal-cart-wrapper__sep {
  border-top: 1px solid #e6e7e8;
  width: 100%; }

.modal-cart-wrapper .checkout {
  padding-left: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex; }

.modal-cart-wrapper .promo-input {
  border: 1px solid #e6e7e8;
  display: block;
  font-size: 1.3rem;
  padding: 0.6rem;
  -webkit-transition: border 0.5s ease-out, color 0.5s ease-out;
  -moz-transition: border 0.5s, color 0.5s ease-out;
  transition: border 0.5s, color 0.5s ease-out; }

.modal-cart-wrapper .promo-input:focus {
  border: 1px solid #5A95F5;
  color: #5A95F5; }

.modal-cart-wrapper .apply-promo-btn {
  background-color: #5A95F5;
  border: 0;
  border-radius: 2px;
  color: #fff;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s; }

.modal-cart-wrapper .apply-promo-btn:hover {
  background-color: #5A95F5;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.modal-cart-wrapper table {
  max-width: 100%;
  width: 100%; }

.modal-cart-wrapper__cart th {
  font-size: 1.5rem; }

.modal-cart-wrapper__cart td, .modal-cart-wrapper__cart th {
  border-top: 1px solid #eceeef;
  padding-left: 1rem;
  text-align: left;
  width: 12rem; }

.modal-cart-wrapper .btn span {
  padding: 0.5rem;
  font-size: 1.6rem; }

.modal-cart-wrapper__cart .btn-sm {
  padding: 2px 8px;
  width: 4rem; }

/*--------- Tooltip ---------*/
.modal-cart-wrapper [data-tooltip] {
  position: relative;
  cursor: pointer; }

.modal-cart-wrapper [data-tooltip]:before,
.modal-cart-wrapper [data-tooltip]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-transform: none; }

/* Position tooltip above the element */
.modal-cart-wrapper [data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 7px;
  width: 8rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  z-index: 2; }

/* Triangle hack to make tooltip look like a speech bubble */
.modal-cart-wrapper [data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0; }

/* Show tooltip content on hover */
.modal-cart-wrapper [data-tooltip]:hover:before,
.modal-cart-wrapper [data-tooltip]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-transform: lowercase;
  text-transform: capitalize; }

/*------------ Modal ------------*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20; }

.overlay > label {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 20;
  cursor: pointer; }

.overlay > label::before {
  font-size: 3rem;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  color: rgba(255, 255, 255, 0.7); }

.overlay div {
  position: relative;
  top: 5%; }

.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

input#modal-cart--toggle:checked ~ .overlay-hugeinc .modal-cart-wrapper {
  transform: translateY(2%); }

input#modal-cart--toggle:checked ~ .overlay-hugeinc {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-hugeinc div {
  -moz-perspective: 1000px; }

.list-group {
  text-align: left; }
  .list-group a, .list-group span, .list-group i {
    display: block; }
  .list-group .list-group-item, .list-group .list-group-item--success, .list-group .list-group-item--info, .list-group .list-group-item--warning, .list-group .list-group-item--danger {
    display: block;
    padding: 10px;
    border: 1px solid #959595;
    transition: all 0.25s; }
    .list-group .list-group-item:first-child, .list-group .list-group-item--success:first-child, .list-group .list-group-item--info:first-child, .list-group .list-group-item--warning:first-child, .list-group .list-group-item--danger:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .list-group .list-group-item:last-child, .list-group .list-group-item--success:last-child, .list-group .list-group-item--info:last-child, .list-group .list-group-item--warning:last-child, .list-group .list-group-item--danger:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .list-group .list-group-item:hover, .list-group .list-group-item--success:hover, .list-group .list-group-item--info:hover, .list-group .list-group-item--warning:hover, .list-group .list-group-item--danger:hover, .list-group .list-group-item:active, .list-group .list-group-item--success:active, .list-group .list-group-item--info:active, .list-group .list-group-item--warning:active, .list-group .list-group-item--danger:active {
      background: #969696;
      outline: 0; }
    .list-group .list-group-item.disabled, .list-group .disabled.list-group-item--success, .list-group .disabled.list-group-item--info, .list-group .disabled.list-group-item--warning, .list-group .disabled.list-group-item--danger, .list-group .list-group-item.disabled:hover, .list-group .disabled.list-group-item--success:hover, .list-group .disabled.list-group-item--info:hover, .list-group .disabled.list-group-item--warning:hover, .list-group .disabled.list-group-item--danger:hover, .list-group .list-group-item.disabled:active, .list-group .disabled.list-group-item--success:active, .list-group .disabled.list-group-item--info:active, .list-group .disabled.list-group-item--warning:active, .list-group .disabled.list-group-item--danger:active {
      background: #565656; }
    .list-group .list-group-item--success {
      background: #00C851; }
      .list-group .list-group-item--success:hover {
        background: #00D255; }
    .list-group .list-group-item--info {
      background: #33b5e5; }
      .list-group .list-group-item--info:hover {
        background: #49BDE8; }
    .list-group .list-group-item--warning {
      background: #eb9316; }
      .list-group .list-group-item--warning:hover {
        background: #FF961F; }
    .list-group .list-group-item--danger {
      background: #c12e2a; }
      .list-group .list-group-item--danger:hover {
        background: #DB0000; }

/*------------- TAB -----------------*/
.tab-container {
  font: 14px/1  'Open Sans', sans-serif;
  color: #555;
  background: #eee; }

.tab-h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center; }

.tab-desc {
  margin: 0 0 20px;
  line-height: 1.5; }

.tab {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff; }

section.tab-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd; }

.tab-input {
  display: none; }

.tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent; }

.tab label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px; }

.tab label[for*='1']:before {
  content: '\f14c'; }

.tab label[for*='2']:before {
  content: '\f2a3'; }

.tab label[for*='3']:before {
  content: '\f3ab'; }

.tab label[for*='4']:before {
  content: '\f3ac'; }

.tab label:hover {
  color: #888;
  cursor: pointer; }

.tab-input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  border-bottom: 2px solid #0EBFE9; }

#tab-tab1:checked ~ #tab-content1,
#tab-tab2:checked ~ #tab-content2,
#tab-tab3:checked ~ #tab-content3,
#tab-tab4:checked ~ #tab-content4 {
  display: block; }

.tab-img {
  float: left;
  margin-right: 50px;
  margin-top: 10px; }

.tab-btn-read-more {
  margin-left: 0px;
  background: #0EBFE9;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 24px;
  height: 35px;
  width: 100px;
  text-transform: uppercase;
  border: 3px solid #72bcd4; }

.tab-btn-read-more a {
  color: #fff; }

.card-container {
  position: relative;
  left: 50%;
  margin-left: -225px;
  font-weight: 400;
  font-size: 1em;
  margin-top: 135px;
  top: 50%;
  height: 500px; }

.card-container, figure {
  width: 416px;
  height: 270px; }

.card {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d; }

figure {
  background: #2e5d5a;
  color: #fff;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9); }

figure.card-front {
  z-index: 2; }

figure.card-back,
.card.flipped {
  transform: rotateY(180deg); }

.card-front img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 1; }

.card-front .card-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  font-size: 1.25em; }

.card-front .card-caption:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: opacity 0.35s, transform 0.35s; }

.card-front:hover .card-caption:before {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.card-front h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0, -50%, 0); }

.card-front h2 span {
  font-weight: bold;
  color: white; }

.card-front h2:after {
  position: absolute;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-130%, 0, 0); }

.card-front:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0); }

.card-front p {
  letter-spacing: 1px;
  font-size: 78.5%;
  position: absolute;
  bottom: 70px;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: opacity 0.35s, transform 0.35s; }

.card-front:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.breadcrumb {
  display: block;
  background: #959595;
  font-size: 15px;
  padding: 1rem;
  text-align: left; }
  .breadcrumb li {
    display: inline-block; }
    .breadcrumb li::before {
      content: "/\00a0"; }
    .breadcrumb li:first-child::before {
      content: ""; }
    .breadcrumb li.active {
      color: #212121; }

.dropdown {
  text-align: left;
  position: relative; }
  .dropdown .dropdown-toggle {
    display: inline-block;
    white-space: nowrap;
    user-select: none; }
    .dropdown .dropdown-toggle i, .dropdown .dropdown-toggle span {
      margin-left: 1rem; }
    .dropdown .dropdown-toggle.disabled {
      background: #959595;
      pointer-events: none; }
  .dropdown input[type="checkbox"] {
    display: none; }
    .dropdown input[type="checkbox"]:checked ~ .dropdown-menu, .dropdown input[type="checkbox"]:checked ~ .popup-menu {
      display: block;
      position: absolute; }
    .dropdown input[type="checkbox"]:checked ~ .popup-menu {
      display: block;
      position: absolute;
      bottom: 100%; }
  .dropdown .dropdown-menu, .dropdown .popup-menu {
    display: none;
    color: #020102;
    text-align: left;
    z-index: 1; }
    .dropdown .dropdown-menu li, .dropdown .popup-menu li {
      display: block;
      white-space: nowrap; }
    .dropdown .dropdown-menu .divider, .dropdown .popup-menu .divider {
      border: 1px solid #020102;
      opacity: 0.5;
      margin: 0.5rem 0; }

.pagination {
  text-align: center; }

.pagination h3 {
  color: #5c8a97;
  font-size: 1.4em;
  letter-spacing: 1.3px; }

#pagination-menu {
  list-style: none;
  padding: 0 12px;
  background: #5c8a97;
  margin: 20px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px #3b636e, 0px 4px 6px rgba(0, 0, 0, 0.3); }

#pagination-menu li {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  bottom: -11px; }

#pagination-menu li:first-child {
  margin: 0; }

#pagination-menu li:nth-child(2) a {
  background: blue; }

#pagination-menu li a {
  background: #a1d0dd;
  display: block;
  border-radius: 3px;
  padding: 0 12px;
  color: white;
  position: relative;
  text-decoration: none;
  height: 27px;
  font: 16px / 30px "PT Sans", Arial, sans-serif;
  font-style: bold; }

#pagination-menu li a:hover {
  background: #bae0ea; }

#pagination-menu li a:active {
  background: blue;
  bottom: -3px; }

.pagination-items ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.pagination2 {
  width: 1000px;
  height: auto;
  margin: 0 auto; }

.pagination2 h1 {
  width: 100%;
  height: auto;
  float: left;
  margin: 2% 0;
  text-align: center;
  font-weight: 100;
  color: #FF1493;
  font-size: 2.2em; }

.pagination-holder input {
  display: none; }

.pagination-holder {
  width: 100%;
  height: auto;
  float: left; }

.pagination-holder h2 {
  width: 100%;
  height: auto;
  /*float: left;*/
  margin: 0 0px 30px -130px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #3CA3F2; }

.pagination-holder .pagination-items {
  width: 70%;
  height: 271px;
  float: left;
  overflow: hidden;
  position: relative; }

.pagination-holder ul {
  width: 100%;
  height: auto;
  float: left;
  margin-left: 250px; }

.pagination-holder ul li {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0 10px 30px;
  border: 2px solid #4e99a3;
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #258996; }

.pagination-holder .pagination-item-1,
.pagination-holder .pagiantion-item-2,
.pagination-holder .pagination-item-3,
.pagination-holder .pagination-item-4 {
  width: 100%;
  height: 336px;
  float: left;
  margin-bottom: 33px;
  margin-left: 40px; }

.btn-pagination {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  background-color: #FFF; }

.btn-pagination ul {
  width: auto;
  height: auto; }

.btn-pagination ul li {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 5px 0 0;
  border: 0; }

.btn-pagination ul li:last-child {
  margin: 0; }

.btn-pagination ul li label {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #2E2929;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color .25s ease-in-out; }

.btn-pagination ul li label:hover {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-1:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(0px); }

#pagination-switch-1:checked ~ .pagination-items label[for="pagination-switch-1"] {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-2:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-300px); }

#pagination-switch-2:checked ~ .pagination-items label[for="pagination-switch-2"] {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-3:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-538px); }

#pagination-switch-3:checked ~ .pagination-items label[for="pagination-switch-3"] {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-4:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-888px); }

#pagination-switch-4:checked ~ .pagination-items label[for="pagination-switch-4"] {
  background-color: #FF1493;
  color: #FFF; }

.breadcrumb {
  display: block;
  background: #959595;
  font-size: 15px;
  padding: 1rem;
  text-align: left; }
  .breadcrumb li {
    display: inline-block; }
    .breadcrumb li::before {
      content: "/\00a0"; }
    .breadcrumb li:first-child::before {
      content: ""; }
    .breadcrumb li.active {
      color: #212121; }

.dot-nav,
.dot-nav__flip,
.dot-nav__spin,
.dot-nav__bounce,
.dot-nav__rotating {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px;
  list-style: none; }

.dot-nav li,
.dot-nav__flip li,
.dot-nav__spin li,
.dot-nav__bounce li,
.dot-nav__rotating li {
  position: relative;
  display: block;
  float: left;
  margin: 0 20px;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.dot-nav li .dot,
.dot-nav__flip li .dot,
.dot-nav__spin li .dot,
.dot-nav__bounce li .dot,
.dot-nav__rotating li .dot {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  transition: all .5s; }

.dot-nav li .dot.active {
  background-color: #33b5e5;
  border: 1px solid #fff;
  text-indent: -999em;
  cursor: pointer;
  position: absolute; }

.dot-nav__flip li .dot.active {
  background-color: #33b5e5;
  border: 1px solid #fff;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  -webkit-animation: flip .7s;
  -webkit-animation-iteration-count: 1; }

.dot-nav__spin li .dot.active {
  background-color: #33b5e5;
  border: 1px solid #fff;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  -webkit-animation: spinning .7s;
  -webkit-animation-iteration-count: 1; }

.dot-nav__bounce li .dot.active {
  background-color: #33b5e5;
  border: 1px solid #fff;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  -webkit-animation: bounce .7s;
  -webkit-animation-iteration-count: 1; }

.dot-nav__rotating li .dot.active {
  background-color: #33b5e5;
  border: 1px solid #fff;
  border-radius: 0;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  -webkit-animation: rotatingSquare .7s;
  -webkit-animation-iteration-count: 1; }

@-webkit-keyframes flip {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(180deg);
    background-color: rgba(255, 255, 255, 0.5); }
  100% {
    transform: rotateX(0deg); } }
@-webkit-keyframes spinning {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg);
    background-color: rgba(255, 255, 255, 0.5); }
  100% {
    transform: rotateY(0deg); } }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px); } }
@-webkit-keyframes rotatingSquare {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 40%; }
  25% {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 30%; }
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 20%; }
  75% {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-radius: 10%; }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius: 0%; } }
.pagination {
  text-align: center; }

.pagination h3 {
  color: #5c8a97;
  font-size: 1.4em;
  letter-spacing: 1.3px; }

#pagination-menu {
  list-style: none;
  padding: 0 12px;
  background: #5c8a97;
  margin: 20px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px #3b636e, 0px 4px 6px rgba(0, 0, 0, 0.3); }

#pagination-menu li {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  bottom: -11px; }

#pagination-menu li:first-child {
  margin: 0; }

#pagination-menu li:nth-child(2) a {
  background: blue; }

#pagination-menu li a {
  background: #a1d0dd;
  display: block;
  border-radius: 3px;
  padding: 0 12px;
  color: white;
  position: relative;
  text-decoration: none;
  height: 27px;
  font: 16px / 30px "PT Sans", Arial, sans-serif;
  font-style: bold; }

#pagination-menu li a:hover {
  background: #bae0ea; }

#pagination-menu li a:active {
  background: blue;
  bottom: -3px; }

.pagination-items ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.pagination2 {
  width: 1000px;
  height: auto;
  margin: 0 auto; }

.pagination2 h1 {
  width: 100%;
  height: auto;
  float: left;
  margin: 2% 0;
  text-align: center;
  font-weight: 100;
  color: #FF1493;
  font-size: 2.2em; }

.pagination-holder input {
  display: none; }

.pagination-holder {
  width: 100%;
  height: auto;
  float: left; }

.pagination-holder h2 {
  width: 100%;
  height: auto;
  /*float: left;*/
  margin: 0 0px 30px -130px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #3CA3F2; }

.pagination-holder .pagination-items {
  width: 70%;
  height: 271px;
  float: left;
  overflow: hidden;
  position: relative; }

.pagination-holder ul {
  width: 100%;
  height: auto;
  float: left;
  margin-left: 250px; }

.pagination-holder ul li {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0 10px 30px;
  border: 2px solid #4e99a3;
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #258996; }

.pagination-holder .pagination-item-1,
.pagination-holder .pagiantion-item-2,
.pagination-holder .pagination-item-3,
.pagination-holder .pagination-item-4 {
  width: 100%;
  height: 336px;
  float: left;
  margin-bottom: 33px;
  margin-left: 40px; }

.btn-pagination {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  background-color: #FFF; }

.btn-pagination ul {
  width: auto;
  height: auto; }

.btn-pagination ul li {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 5px 0 0;
  border: 0; }

.btn-pagination ul li:last-child {
  margin: 0; }

.btn-pagination ul li label {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #2E2929;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color .25s ease-in-out; }

.btn-pagination ul li label:hover {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-1:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(0px); }

#pagination-switch-1:checked ~ .pagination-items label[for="pagination-switch-1"] {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-2:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-300px); }

#pagination-switch-2:checked ~ .pagination-items label[for="pagination-switch-2"] {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-3:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-538px); }

#pagination-switch-3:checked ~ .pagination-items label[for="pagination-switch-3"] {
  background-color: #FF1493;
  color: #FFF; }

#pagination-switch-4:checked ~ .pagination-items > ul {
  transition: transform .7s ease-in-out;
  transform: translateY(-888px); }

#pagination-switch-4:checked ~ .pagination-items label[for="pagination-switch-4"] {
  background-color: #FF1493;
  color: #FFF; }

.switches {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  width: 100%;
  height: 150px;
  color: #232423; }

.m-container {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: left; }

.s-container {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-top: 5%;
  padding-left: 5%; }

.s-container label {
  position: relative;
  float: left;
  font-weight: 200; }

.s-container label:hover, .s-container2 label:hover {
  color: #232423; }

.s-background {
  position: relative;
  display: inline-block;
  float: left;
  padding-left: 2%; }

.s-container .s-background input {
  display: none; }

.s-container .s-background input label {
  z-index: 100;
  position: relative; }

.s-container .s-background input + label:before {
  width: 75px;
  height: 20px;
  position: absolute;
  content: " ";
  background: #222;
  top: 0px;
  left: 0px; }

.s-container .s-background label:after {
  position: absolute;
  content: " ";
  background: #777;
  width: 25px;
  height: 30px;
  z-index: 1;
  top: -5px;
  left: 5px;
  transition: all 0.5s;
  border-radius: 4px; }

.s-container .s-background input:checked + label:after {
  transform: translateX(40px);
  background: #ee6e73; }

.s-container2 {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-top: 3%;
  padding-left: 8%; }

.s-container2 label {
  font-weight: 200;
  position: relative; }

.s-container2 .switch-background {
  position: relative;
  display: inline-block;
  background: #222;
  border-radius: 4px;
  width: 33%; }

.s-container2 .switch-background input {
  display: none; }

.s-container2 label[for='r1'], .s-container2 label[for='r2'] {
  color: #bbb;
  font-size: 15px;
  margin-left: 10px; }

.s-container2 .switch-background input:checked + label[for='r1'], .s-container2 .switch-background input:checked + label[for='r2'] {
  color: #ee6e73;
  font-weight: 500; }

.s-container label[for='s1']:before, .s-container2 label[for='r1']:before, .s-container2 label[for='r2']:before {
  content: ''; }

/*# sourceMappingURL=main.css.map */
