* {
  box-sizing: border-box;
}

html {
  font-family: Georgia;
  background-color: #ffe5ff;
}

.grid {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
  text-align: center;
}

.grid__row {
  display: flex;
}

[class*="col"] {
  float: left;
  background-color: gray;
  opacity: 0.7;
  border: 2px solid black;
  margin: 0px 5px 0px 5px;
}

.grid__col1 {
  width: 8.33%;
}

.grid__col2 {
  width: 16.66%;
}

.grid__col3 {
  width: 25%;
}

.grid__col4 {
  width: 33.33%;
}

.grid__col5 {
  width: 41.66%;
}

.grid__col6 {
  width: 50%;
}

.grid__col7 {
  width: 58.33%;
}

.grid__col8 {
  width: 66.66%;
}

.grid__col9 {
  width: 75%;
}

.grid__col10 {
  width: 83.33%;
}

.grid__col11 {
  width: 91.66%;
}

.grid__col12 {
  width: 100%;
}
