* {
  box-sizing: border-box;
}

html {
  font-family: $font_family;
  background-color: #ffe5ff;
}

a{
  text-decoration: none;
}
.badge-example{
  font-size: 2rem;
}

.list-group-example{
  max-width: 50%;
  margin: 0 auto;
  font-size: 2rem;

  .list-group .list-group-item{
    padding-bottom: 2rem;
    img{
      float: left;
      margin-right: 1rem;
    }
  }
}
