@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

* {
  box-sizing: border-box;
}

html {
  font-family: $font_family;
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

.grid-example{
  .grid__col--primary-bg{
    background: $primary-color;
  }
}

.nav-link {
  display: block;
  padding: 1rem 3rem 1rem 0;
  text-decoration: none;
  text-align: right;
}

.nav-link:hover {
  color: #fff;
  background-color: #33b5e5;
}

.section-content {
  margin: 0 0 30px;
  font-weight: 300;
}

#components-content{
  overflow: hidden;
}


section{
  position: relative;
}

.badge-example{
  font-size: 2rem;
}

.breadcrumb-example{
  width: 80%;
  margin: 0 auto;
}

.dropdown-example{
  margin: 1rem auto 10rem;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  .dropdown{
    margin: 0 auto;
  }
}

.list-group-example{
  max-width: 50%;
  margin: 0 auto;

  .list-group .list-group-item{
    padding-bottom: 2rem;   
    
  }
}

#sidebar {
  background: #F3F5F8;
}

#scrollspy--example{
  position: relative;
  margin-bottom: 20rem;
}

.spied{
  background: $primary-color;
}

#drop-dot--example{
  margin-bottom: 30rem;
  margin-left: 10rem;
  text-align: center;

  .drop-dot{
    margin: 0 auto;
  }
}