* {
  box-sizing: border-box;
}

html {
  font-family: $font_family;
  font-size: 62.5%;
  background-color: #ffe5ff;

}

a{
  text-decoration: none;
}

section{
  position: relative;
}

h3{
  padding: 0.75rem;
}

.badge-example{
  font-size: 2rem;
}

.breadcrumb-example{
  width: 80%;
  margin: 0 auto;
}

.dropdown-example{
  margin: 1rem 0 10rem;
}

.list-group-example{
  max-width: 50%;
  margin: 0 auto;

  .list-group .list-group-item{
    padding-bottom: 2rem;
    img{
      float: left;
      margin-right: 1rem;
    }
  }
}
