* {
  box-sizing: border-box;
}

html {
  font-family: $font_family;
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

nav a {
  display: block;
  margin: 1.6em 0;
  padding-left: 30px;
}

.section-content {
  margin: 0 0 30px;
  font-weight: 300;
}

a{
  text-decoration: none;
}

section{
  position: relative;
}

h3{
  padding: 0.75rem;
}

.badge-example{
  font-size: 2rem;
}

.breadcrumb-example{
  width: 80%;
  margin: 0 auto;
}

.dropdown-example{
  margin: 1rem auto 10rem;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  .dropdown{
    margin: 0 auto;
  }
}

.list-group-example{
  max-width: 50%;
  margin: 0 auto;

  .list-group .list-group-item{
    padding-bottom: 2rem;
    img{
      float: left;
      margin-right: 1rem;
    }
  }
}

#sidebar {
  background: #F3F5F8;
}
